{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{ form(form) }}
            {{ error }}
        </div>
        <div class="col-md-6" id="map" style="width: 600px; height: 400px"></div>
    </div>
    {% block javascripts %}

        <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru_RU">
        </script>
        <script type="text/javascript">
            ymaps.ready(function () {
                var myMap = new ymaps.Map("map", {
                    center: [42.63, 77.22],
                    zoom: 9
                });
            });
        </script>
    {% endblock %}


{% endblock %}

{% block title %}

{% endblock %}

