{% extends 'base.html.twig' %}

{% block body %}
    <h1>Авторизация</h1>
    {% if(error) %}
        {{ error }}
    {% endif %}
    {{ form(form) }}

    {{ include('sign_up/sign_in_social.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}

